@{
    ViewData["Title"] = "Home Page";
}


<div>
    <div class="col-md-3">
        <div id="map"></div>
        <div > Ha Ha</div>
    </div>
</div>

<script type="text/javascript">
    var map;
    $(document).ready(function(){
      map = new GMaps({
        el: '#map',
        lat: -12.043333,
        lng: -77.028333,
        zoomControl : true,
        zoomControlOpt: {
            style : 'SMALL',
            position: 'TOP_LEFT'
        },
        panControl : false,
        streetViewControl : false,
        mapTypeControl: false,
        overviewMapControl: false
      });
    });
</script>