/R/.vs
/R/artifacts
/R/DTAR_08E86330_4835_4B5C_9E5A_61F37AE1A077_DTAR
/R/obj
/R/src/R.Web/node_modules
/R/src/R/node_modules
/R/src/R/bin

/R/src/r.portable/r.portable.Droid/obj
/R/src/r.mobile/r.mobile/obj
/R/src/r.mobile/r.mobile/bin
/R/src/r.mobile/r.mobile.Droid/obj
/R/src/r.mobile/r.mobile.iOS/obj
/R/src/r.mobile/r.mobile.Windows/obj
/R/src/r.mobile/r.mobile/bin
/R/src/R/obj
/R/src/R.Common/obj
/R/src/R.Common/bin
/R/src/r.mobile/r.mobile.Droid/bin
/R/src/R.Web/bin
/R/src/R.Web/obj
/R/packages
